body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}


.box {
    background-color: #740000;
    width: 40%;
    height: 8px;
    position: relative;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
}

.exampleText {
    color: #740000;
    margin-top: 0;
    font-size: 1px;
}


h1 {
    text-align: center;
    margin-bottom: -2px;
}

h2 {
    text-transform: uppercase;
    margin: 7px 0px 7px 0px;
    text-align: left;
}

h3 {
    color: #740000;
    font-weight: normal;
    text-transform: uppercase;
    margin: 13px 0px 7px 0px;
    text-align: left;
}

form {
    width: 80%;
    margin: 25px auto;
    text-align: center;
}

label, input {
    display: inline-block;
    margin: 10px;
}

label {
    width: 30%;
    text-align: right;
    font-weight: bold;
}

label + input {
    border-style: solid;
    margin: 0 30% 0 3%;
}

button, .save-button input {
    background-color: #740000;
    border: none;
    color: white;
    padding: 8px 25px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.green, .green button {
    background-color: #225702;
}

.gray, .gray button {
    background-color: #7D7D7D;
}

button:hover {
    opacity: 0.8;
}

button:focus {
    opacity: 0.8;
    outline: none;
    border: none;
}
