@*@{
    @model Show
}*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/shows.css">
    <script src="/js/admin.js"></script>
    <title> Admin shows </title>
</head>
<body>




    <h1>SHOW LIST</h1>
    <div class="box">
        <p class="exampleText">.</p>
    </div>

    <table>
        <tr>
            <td>LA TRAVIATA</td>
            <td class="green"><button>UPDATE</button></td>
            <td class="red"><button>DELETE</button></td>
        </tr>
        <tr>
            <td>LA TRAVIATA</td>
            <td>UPDATE</td>
            <td>DELETE</td>
        </tr>
        <tr>
            <td>LA TRAVIATA</td>
            <td>UPDATE</td>
            <td>DELETE</td>
        </tr>
        <tr>
            <td>LA TRAVIATA</td>
            <td>UPDATE</td>
            <td>DELETE</td>
        </tr>
        <tr>
            <td>LA TRAVIATA</td>
            <td>UPDATE</td>
            <td>DELETE</td>
        </tr>
        <tr>
            <td colspan="3" class="gray"><button>CREATE SHOW</button></td>
        </tr>
    </table>


    @*
        Unfinished, need to add an update and a delete button on every show on the list (Like on figma)
    *@
    @{
        @*foreach (Show show in @ViewData["Shows"] as List<Show>) {
                <h2>@show.Title</h2>
            }*@

    }





</body>
</html>
